# List of codeowners based on project team

* @a10pepo

/Alumnos/FS/*/DOCKER/** @alhercan @a10pepo
/Alumnos/FS/*/docker/** @alhercan @a10pepo
/Alumnos/FS/*/Docker/** @alhercan @a10pepo
/Alumnos/ES/*/DOCKER/** @alhercan @a10pepo
/Alumnos/ES/*/docker/** @alhercan @a10pepo
/Alumnos/ES/*/Docker/** @alhercan @a10pepo

/Alumnos/FS/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/FS/*/python/** @martinImagina @a10pepo
/Alumnos/FS/*/Python/** @martinImagina @a10pepo
/Alumnos/ES/*/PYTHON/** @martinImagina @a10pepo
/Alumnos/ES/*/python/** @martinImagina @a10pepo
/Alumnos/ES/*/Python/** @martinImagina @a10pepo


/Alumnos/FS/*/SQL/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/FS/*/sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/FS/*/Sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/SQL/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/sql/** @gavaldanatalia @a10pepo @gavnatalia
/Alumnos/ES/*/Sql/** @gavaldanatalia @a10pepo @gavnatalia


/Alumnos/FS/*/NIFI/** @echiner @a10pepo
/Alumnos/FS/*/nifi/** @echiner @a10pepo
/Alumnos/FS/*/Nifi/** @echiner @a10pepo
/Alumnos/ES/*/NIFI/** @echiner @a10pepo
/Alumnos/ES/*/nifi/** @echiner @a10pepo
/Alumnos/ES/*/Nifi/** @echiner @a10pepo


/Alumnos/FS/*/AHORCADO/** @a10pepo
/Alumnos/FS/*/ahorcado/** @a10pepo
/Alumnos/ES/*/AHORCADO/** @a10pepo
/Alumnos/ES/*/ahorcado/** @a10pepo
/Alumnos/FS/*/Ahorcado/** @a10pepo
/Alumnos/ES/*/AHORCADO/** @a10pepo

/Alumnos/FS/*/FLASK/** @a10pepo @NuriaUrena
/Alumnos/FS/*/Flask/** @a10pepo @NuriaUrena
/Alumnos/ES/*/FLASK/** @a10pepo @NuriaUrena
/Alumnos/ES/*/Flask/** @a10pepo @NuriaUrena
/Alumnos/FS/*/flask/** @a10pepo @NuriaUrena
/Alumnos/ES/*/flask/** @a10pepo @NuriaUrena

/Alumnos/FS/*/KAFKA/** @a10pepo @rusansor
/Alumnos/FS/*/Kafka/** @a10pepo @rusansor
/Alumnos/ES/*/KAFKA/** @a10pepo @rusansor
/Alumnos/ES/*/Kafka/** @a10pepo @rusansor
/Alumnos/FS/*/kafka/** @a10pepo @rusansor
/Alumnos/ES/*/kafka/** @a10pepo @rusansor

/Alumnos/FS/*/SPARK/** @a10pepo @paponsro
/Alumnos/FS/*/Spark/** @a10pepo @paponsro
/Alumnos/ES/*/SPARK/** @a10pepo @paponsro
/Alumnos/ES/*/Spark/** @a10pepo @paponsro
/Alumnos/FS/*/spark/** @a10pepo @paponsro
/Alumnos/ES/*/spark/** @a10pepo @paponsro

/Alumnos/FS/*/CLOUD/** @a10pepo @jabrio
/Alumnos/FS/*/Cloud/** @a10pepo @jabrio
/Alumnos/FS/*/cloud/** @a10pepo @jabrio
/Alumnos/ES/*/CLOUD/** @a10pepo @mimove
/Alumnos/ES/*/Cloud/** @a10pepo @mimove
/Alumnos/ES/*/cloud/** @a10pepo @mimove

/Alumnos/FS/*/devsecops/** @a10pepo @iasinDev
/Alumnos/FS/*/DevSecOps/** @a10pepo @iasinDev
/Alumnos/ES/*/devsecops/** @a10pepo @iasinDev
/Alumnos/ES/*/DevSecOps/** @a10pepo @iasinDev
/Alumnos/FS/*/DEVSECOPS/** @a10pepo @iasinDev
/Alumnos/ES/*/DEVSECOPS/** @a10pepo @iasinDev

/Alumnos/FS/*/TERRAFORM/** @a10pepo @iasinDev
/Alumnos/FS/*/Terraform/** @a10pepo @iasinDev
/Alumnos/ES/*/TERRAFORM/** @a10pepo @iasinDev
/Alumnos/ES/*/Terraform/** @a10pepo @iasinDev
/Alumnos/FS/*/terraform/** @a10pepo @iasinDev
/Alumnos/ES/*/terraform/** @a10pepo @iasinDev

/Alumnos/FS/*/DATAFLOW/** @a10pepo @jabrio
/Alumnos/FS/*/Dataflow/** @a10pepo @jabrio
/Alumnos/FS/*/dataflow/** @a10pepo @jabrio
/Alumnos/ES/*/DATAFLOW/** @a10pepo @jabrio
/Alumnos/ES/*/Dataflow/** @a10pepo @jabrio
/Alumnos/ES/*/dataflow/** @a10pepo @jabrio

/Alumnos/FS/*/ESTADISTICA/** @a10pepo @miguelruadelbarrio
/Alumnos/FS/*/Estadistica/** @a10pepo @miguelruadelbarrio
/Alumnos/FS/*/estadistica/** @a10pepo @miguelruadelbarrio
/Alumnos/ES/*/ESTADISTICA/** @a10pepo @miguelruadelbarrio
/Alumnos/ES/*/Estadistica/** @a10pepo @miguelruadelbarrio
/Alumnos/ES/*/estadistica/** @a10pepo @miguelruadelbarrio